@import url('_less/bootstrap.less');
@import url('_less/fa/font-awesome.less');

body {
        padding-top: 70px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }

.img-center{
	margin: 0 auto;
}

.contact-btn{
	margin-top: 20px;
}

.blue{
	font-weight: 500;
	font-style: italic;
}

.big{
	font-size: 2em;
}
.service{
    background: #3c3c3c;
    height: 200px;
    padding: 20px;
    margin: 20px auto;
    cursor: pointer;
}

.service h3{
    font-size: 1.3em;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: #ccc;
}
a.service{

    text-align: center;
    cursor: pointer;
    height: 100%;
    width: 100%;
}

// Virtual Office

.big-text{
	color: gray;
	font-size: 3.3em;
	font-style: italic;
}

.plug{
	margin: 10px;
}

.box-gray{
	background: #ccc;
	color: #444;
	padding: 20px;
	background: linear-gradient(rgba(200,200,200,1), rgba(200,200,200, 0));
	margin-top: 20px;
	& ul > li{
		list-style: none;
		display: inline-block;
		padding: 3px 10px;
		& > a{
			color: #444;
			font-weight: 800;
		}
	}
}

.staff-person{
	margin-bottom: 40px;
}

.blog-post-item{
	background: #444;
	min-height: 300px;
	margin-bottom: 20px;
	& > h2{
		color: #ccc;
		min-height: 300px;
		vertical-align: middle;
		font-size: 4em;
		padding-top: 110px;
	}
}
