include _partials/nav.jade

.container
  .row
    .col-lg-12
      h1 Virtual Office
  .row
    .col-lg-8
      h3 Skype with Us!
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi quisquam error, perspiciatis esse hic perferendis ipsum soluta facilis cupiditate cumque magnam assumenda blanditiis necessitatibus dolores voluptatem quam nemo id reiciendis nisi omnis expedita dolorem. Blanditiis, voluptatum, atque? Itaque, officiis, porro.
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, repellat.
    .col-lg-4
      img(src="http://placehold.it/300x300", class="img-responsive", alt="Skype")
