div#modal4.modal.fade(role="dialog")
  div.modal-dialog
    div.modal-content
      div.modal-header
        button(type="button", class="close", data-dismiss="modal") &times;
      div.modal-body
        h1 Family
        hr
        h3 Family-Based Permanent Visas

        p The other most widely used method to obtain legal permanent residence in the U.S. is through family sponsorship, which is also categorized based on the relationship of the foreign national to the petitioning U.S. citizen or legal permanent resident (LPR).

        p There is no waiting period for foreign relatives who are spouses, children (under age 21) and parents of U.S. citizens.  These individuals may receive an immigrant visa immediately and are classified as Immediate Relatives.

        p For foreign relatives who do not qualify as Immediate Relatives, U.S. immigration law provides different preference categories based on the foreign relative’s relationship to the U.S. citizen or LPR.  These relationships are separated into four family-based preferences:

        ul 
          li F1: First Preference, Unmarried adult children (over age 21) of U.S. citizens
          li F2: Second Preference, Spouses and children, and unmarried children of LPRs
          li F3: Third Preference, Married children of US citizens
          li F4: Fourth Preference, Siblings of adult US citizens

        p Please contact our office if you require assistance with any of these preference categories.

        h3 Immediate Relatives

        p U.S. immigration law promotes family unity by allowing certain foreign nationals to join their U.S. citizen spouse, parent or child without having to wait for an immigrant visa number to become available.  These individuals must demonstrate the following relationship to their U.S. citizen relative:


        h3 Spouses to a U.S. citizen;
        p Unmarried children under age 21 of a U.S. citizen; and/or
        p Parent(s) to a U.S. citizen child over age 21.

        p Please contact our office if you require assistance with this preference category.


        h3 Family-Based First Preference (F1)

        p Family-based immigrant visas may receive a first preference category (F1) if the foreign relative is an unmarried son or daughter, over age 21, to a U.S. citizen parent.

        p Please contact our office if you require assistance with this preference category.


        h3 Family-Based Second Preference (F2A and F2B)

        p Family-based immigrant visas are assigned a second preference category (F2) if the foreign relative is related to a legal permanent resident (LPR) in the following ways:

        p F2A Preference: a spouse or an unmarried child under age 21 of an LPR, or

        p F2B Preference: an unmarried child over age 21 of an LPR.

        p Please contact our office if you require assistance with this preference category.

        h3 Family-Based Third Preference (F3)

        p Family-based immigrant visas are assigned a third preference category (F3) if the foreign relative is a married child (of any age) of a U.S. citizen.

        p Please contact our office if you require assistance with this preference category.


        h3 Family-Based Fourth Preference (F4)

        p Family-based immigrant visas are assigned a fourth preference category (F4) if the foreign relative is brother or sister of a U.S. citizen and the U.S. citizen is at least age 21.

        p Please contact our office if you require assistance with this preference category.

        h4 V Visa (Visa for Spouse and Children of a Lawful Permanent Resident)

        p The V visa is a nonimmigrant visa created as a result of the passage of the LIFE Act of 2000.
        p Spouses or children of legal permanent residents (LPRs) may apply for a V visa to allow them to come to the U.S. to live and work while they wait for an approval of their immigrant status.  The V visa requires that a Petition for Alien Relative was filed by the U.S. relative (LPR) before December 21, 2000.  Spouses or children must show that they have been waiting at least three years for action by USCIS on their petition and they have not received a visa number due to worldwide numerical limitations.
        p Spouses who qualify for this visa category are granted V-1 status and children are granted V-2.  The children of either spouses (V-1) or children (V-2) who qualify for this visa category are granted V-3 status.
        p All applicants must be eligible for visa issuance under all other applicable immigration laws. The V visa category will eventually phase out once all spouses and children who filed prior to December 21, 2000 have received a decision on their petition.
        h4 K-1 and K-2 Visa (Fianc&eacute;s and Minor Children)
        p The K-1 visa allows the fiancé(e) of a U.S. citizen to enter the U.S. to marry the U.S. citizen as part of the U.S. immigration policy to unite families.  The marriage should take place within 90 days of the fiancé(e) entering the U.S.  Failure to marry the U.S. citizen fiancé(e) within the 90 days will prevent the foreign national from being eligible to apply for permanent residence.
        p Minor children belonging to the fiancé(e) may also apply for K-2 status to enter the U.S. with their parent and subsequently apply for permanent residence.

        K-3 and K-4 Visas (Spouses and Unmarried Children) 

        p The new K-3 and K-4 visas are available to foreign spouses of U.S. citizens, and their unmarried children under age 21, who wish to enter the U.S. to be united with their U.S. citizen relative while their immigrant petition is pending.  The purpose of the K-3 and K-4 visas is very similar to the K-1 and K-2 visas; to allow families to be united. The difference between K-1 and K-2 from K-3 and K-4 is that a marriage has already occurred prior to the foreign spouse and children having entered the U.S.

        p Unlike the V visa, there is no additional K visa category that enables visa issuance for the grandchildren of the spouse or the petitioner.




      div.modal-footer
        button(type="button", class="btn btn-default", data-dismiss="modal") Close
