div#modal1.modal.fade(role="dialog")
    div.modal-dialog
        div.modal-content
            div.modal-header
                button(type="button", class="close", data-dismiss="modal") &times;
            div.modal-body
                h2 Temporary Work Visas:

                h3 H-1B Visa (Specialty Occupation) 
                p Foreign nationals interested in pursuing temporary work in a specialty occupation in the U.S. may apply for an H-1B visa.  The H-1B visa is quite popular as it is a logical first step toward permanent immigration in the U.S.

                p To qualify for H-1B classification, the foreign national must possess a bachelor’s degree from a U.S. university or an equivalent and be sponsored by a U.S. employer.  The job must qualify as a specialty occupation, such as an accountant, architect, engineer, etc.

                p Spouses and unmarried children under age 21 are allowed to accompany or join the H-1B worker, in H-4 dependents status. However, they cannot work unless they independently qualify for a work visa. Spouses and children are permitted to attend school while in H-4 status.

                p The laws regarding the H-1B visas change rapidly from year to year.  Our office provides up to date developments on changes in federal regulations affecting the H-1B visa category.  Please feel free to contact us for current updates.

                h3 H-1B1 Visa (Chileans and Singaporeans)
                p The H-1B1 visa is similar to the H-1B in most respects but is reserved for foreign nationals of Chile and Singapore.  This new category was created as a result of the Free Trade Agreements between the U.S. and Chile and between the U.S. and Singapore.

                p To qualify for H-1B1 classification, the Chilean or Singaporean national must possess a bachelor’s degree from a U.S. university or an equivalent and be sponsored by a U.S. employer.

                p Spouses and unmarried children under age 21 are allowed to accompany or join the H-1B worker, in H-4 dependent status. However, they cannot work unless they independently qualify for a work visa.  Spouses and children are permitted to attend school while in H-4 status.

                h3 H-2A Visa (Temporary Agricultural Workers)
                p The H-2A visa allows foreign nationals to enter the U.S. for up to a year to perform agricultural labor or services that are temporary or seasonal where there is a shortage of U.S. workers.  This visa is reserved for foreign nationals from certain countries.  Part of the requirements of the H-2A visa requires a U.S. employer submit a temporary labor certification to the Department of Labor demonstrating a shortage of U.S. workers.

                p Spouses and unmarried children under age 21 are allowed to accompany or join the H-2A worker, in H-4 dependent status. However, they cannot work unless they independently qualify for a work visa.  Spouses and children are permitted to attend school while in H-4 status.
                h3 H-2B Visa (Temporary Non-Agricultural Workers)
                p The H-2B visa is reserved for individuals who will be performing temporary nonagricultural services or labor. The U.S. employer's need for the service or labor should be a one-time occurrence, a seasonal need, a peak-load need or an intermittent need.  Similar to the H-2A visa, the H-2B visa also requires a U.S. employer to submit a temporary labor certification to the Department of Labor demonstrating a shortage of U.S. workers.

                p Spouses and unmarried children under age 21 are allowed to accompany or join the H-2B worker, in H-4 dependent status. However, they cannot work unless they independently qualify for a work visa. Spouses and children are permitted to attend school while in H-4 status.
                h3 H-3 Visa (Nonimmigrant Trainee or Special Education Exchange Visitor)

                p The H-3 visa allows foreign nationals to receive training in the U.S. in almost any discipline that is not currently available in their native country.  However, this training excludes graduate and medical training, which is reserved under the J-1 visa category.

                p Foreign nationals may also enter in H-3 status to benefit from special education training that helps children with disabilities (physical, emotional or mental).

                p Training in the H-3 category should be structured and provide foreign nationals with the skills to succeed in that discipline once training is completed.

                p Spouses and unmarried children under age 21 are allowed to accompany or join the H-3 worker, in H-4 dependent status. However, they cannot work unless they independently qualify for a work visa. Spouses and children are permitted to attend school while in H-4 status.
                h3 L-1 Visa (Intracompany Transferee)

                p The L-1 visa, commonly referred to as the “intra-company transferee,” allows international companies with an office, subsidiary, or affiliated branch in the U.S. to sponsor its foreign employees to temporarily work in the U.S.

                p Sponsoring employers must have an established U.S. office, subsidiary, or affiliated branch, or have completed plans to establish one, in order to sponsor an L-1 worker.  Sponsoring employers should be prepared to provide documentation demonstrating its financial solvency.

                p Additionally, to qualify for an L-1 visa, the foreign national must also have worked for the company abroad for at least one full year within the last three years prior to applying, in either an executive or managerial position (L-1A visa) or a position with special knowledge (L-1B visa).

                p Spouses and unmarried children under age 21 are allowed to accompany or join an L-1 worker in the U.S., in L-2 dependent status. Spouses may seek work authorization from USCIS upon entry in L-2 status by applying for an employment authorization document.  Spouses and children may also attend school. Accompanying domestic workers (maids or nannies) may also be eligible for a B-1 visa with work authorization from USCIS.

                p L-1 visas have increasingly received higher scrutiny from USCIS in the past years.  Our office provides up to date developments on changes in federal regulations affecting the L-1 visa category.  Please feel free to contact us for current updates and strategies.
                h3 O-1 Visa (Individuals with Extraordinary Ability or Achievement) 
                p The O-1 visa allows foreign nationals who have extraordinary abilities or achievements in their respective fields of endeavor to enter the U.S. on a temporary basis to work in that field.  This includes extraordinary ability in the sciences, arts, education, business, athletics and extraordinary achievements in the motion picture or television industry.

                p Sponsoring employers must provide documentation to USCIS of concrete itineraries, events, and/or projects in which the O-1 worker will participate along with consultations from relevant trade or union organizations.

                p Also, to qualify for an O-1 visa, foreign nationals must demonstrate they are amongst the elite of their profession by providing documentation such as national or international awards, proof of having judged the work of others, publications, media articles discussing the individual and/or their achievements, box office receipts, and much more.

                p Spouses and unmarried children under age 21 are allowed to accompany or join the O-1 worker, in O-3 dependent status. However, they cannot work unless they independently qualify for a work visa. Spouses and children are permitted to attend school while in O-3 status.

                p The O-1 visa is one of the most complex visas of all the temporary, nonimmigrant work visa categories.  Please contact our office for more information on how to qualify for this visa category.
                h3 O-2 Visa

                p Support personnel of O-1 visa holders in the fields of athletics, entertainment, motion picture and television production may request an O-2 visa to work in the U.S. temporarily. This status is not applicable to personnel in the sciences, business or education.

                p Spouses and unmarried children under age 21 are allowed to accompany or join the O-2 worker, in O-3 dependent status. However, they cannot work unless they independently qualify for a work visa. Spouses and children are permitted to attend school while in O-3 status.
                h3 P-1 Visa  (Internationally Recognized Athletes and Entertainers)

                p The P-1 visa permits entertainers and athletes to enter the U.S. on a temporary basis to perform and/or compete.  Athletes who have an outstanding record of achievement may apply for a P-1A visa either individually, or as part of an internationally recognized athletic team, in order to compete in the U.S.

                p Meanwhile, entertainment groups with an outstanding international reputation must apply as a group for P-1B visa since individual P-1B visas are not issued.  Entertainment groups must also demonstrate that at least 75% of its members have had a substantial and sustained participation in the group for at least one year.

                p Spouses and unmarried children under age 21 are allowed to accompany or join a P-1 worker in the U.S., in P-4 dependent status. Spouses and children are not permitted to work but they may attend school. Accompanying domestic workers (maids or nannies) may also be eligible for a B-1 visa with work authorization from USCIS.
                h3 P-2 Visa (Artists Performing Under a Reciprocal Exchange Program)

                p The P-2 visa allows international artists and athletes to enter the U.S. on a temporary basis as part of a reciprocal cultural exchange program.  This usually involves one U.S. organization abroad and one international organization in the U.S. as part of that exchange.

                p Spouses and unmarried children under age 21 are allowed to accompany or join a P-2 worker in the U.S., in P-4 dependent status. Spouses and children are not permitted to work but they may attend school. Accompanying domestic workers (maids or nannies) may also be eligible for a B-1 visa with work authorization from USCIS.

                h3 P-3 Visa  (Artists Part of a Culturally Unique Program)

                p The P-3 visa allows artists or entertainers, individually or as a group, to come to the U.S. to develop, interpret, represent, coach or teach culturally unique programs.  These programs usually involve traditional, ethnic, folk, cultural, musical, theatrical, artistic elements that are performed or presented to students or audiences.

                p Spouses and unmarried children under age 21 are allowed to accompany or join a P-3 worker in the U.S., in P-4 dependent status. Spouses and children are not permitted to work but they may attend school.

                h3 R-1 Visa (Religious Workers)

                p R-1 visas allow clergy and religious workers to enter the U.S. to further their religion mission(s). A religious vocation is defined as a calling to religious life, shown by a demonstration of a lifelong commitment such as taking vows.  Liturgical workers, religious instructors or cantors, catechists, workers in religious hospitals, missionaries, religious translators, religious broadcasters, ministers, nuns, monks, and religious brothers and sisters are all examples of religious workers.

                p Spouses and unmarried children under age 21 are allowed to accompany or join an R-1 religious worker in the U.S., in R-2 dependent status. Spouses and children are not permitted to work but they may attend school.
                h3 TN Visa (NAFTA Professionals)
                p The TN visa allows Canadians or Mexicans engaging to enter the U.S. to engage in professional work on a temporary basis pursuant to the North American Free Trade Agreement (NAFTA).

                p The job offer must be made by a U.S. employer and be classified as a professional occupation as defined in the NAFTA Treaty.  The foreign national must also possess the necessary education and/or training for that particular job classification.

                p Spouses and unmarried children under age 21 are allowed to accompany or join a TN worker in the U.S., in TD dependent status. Spouses and children are not permitted to work but they may attend school.

                p There are multiple methods of applying for a TN visa.  Canadian and Mexican nationals with any questions about this visa category should contact our office for more information.

                h3 Startups and In
                p EB-1
                p EB-2
                p EB-3
                p EB-4
                p EB-5
                p National Interest Waiver
                p PERM Labor Certification
                p Adjustment of Status
                p Consular Processing
                p Advance Parole
                p Travel Documents
                p Work Permit
                p Reentry Permit
            div.modal-footer
                button(type="button", class="btn btn-default", data-dismiss="modal") Close
