div#modal2.modal.fade(role="dialog")
	div.modal-dialog
		div.modal-content
			div.modal-header
				button(type="button", class="close", data-dismiss="modal") &times;
			div.modal-body
				h1 Investors and Startups
				hr
				h3 E-1 Visa (Treaty Traders)

				p U.S. immigration policy supports investors and foreign commerce in a variety of ways. The E-1 visa is one method for ensuring healthy commerce through international trade. The E-1 Visa is issued to individuals known as 'treaty traders,' defined as a national of a country with which the U.S. maintains a treaty of commerce and navigation.  E-1 treaty traders enter the U.S. to carry on substantial trade and principal trade between the U.S. and their home country.

				p Spouses and unmarried children under age 21 are allowed to accompany or join an E-1 worker in the U.S., in E dependent status. Spouses may seek work authorization from USCIS upon entry in E dependent status by applying for an employment authorization document.  Spouses and children may also attend school.

				p Employees of treaty companies may also qualify for an E-1 visa.  Please contact our office for more information about qualifying treaty countries and/or how to qualify for an E-1 visa.
				h3 E-2 Visa  (Treaty Investors)

				p The E-2 visa is another visa category furthering U.S. immigration policy to support commerce through investments in U.S. businesses.  The E-2 visa category allows foreign nationals of a treaty country to temporarily live and work in the U.S.  To qualify for an E-2 investment visa, foreign nationals must make a substantial investment in a U.S. business or enterprise.  Investor applicants must also show the investment funds have been legitimately derived and have been or will be subjected to real risk of loss as part of the investment.

				p Spouses and unmarried children under age 21 are allowed to accompany or join an E-2 worker in the U.S., in E dependent status. Spouses may seek work authorization from USCIS upon entry in E dependent status by applying for an employment authorization document.  Spouses and children may also attend school.

				p Employees of investment companies may also qualify for an E-2 visa.  Please contact our office for more information about qualifying treaty countries and/or how to qualify for an E-2 visa.
				h3 E-3 Visa (Certain Specialty Occupation Professionals from Australia)
				p The E-3 visa is similar to the H-1B in most respects but is reserved for foreign nationals of Australia. 

				p To qualify for E-3 classification, the Australian national must possess a bachelor’s degree from a U.S. university or an equivalent and be sponsored by a U.S. employer.  The job offer must also be a specialty occupation that requires both theoretical and practical knowledge and must require a bachelor’s degree as part of its minimum qualifications.

				p Spouses and unmarried children under age 21 are allowed to accompany or join an E-3 worker in the U.S., in E dependent status. Spouses may seek work authorization from USCIS upon entry in E dependent status by applying for an employment authorization document.  Spouses and children may also attend school.


			div.modal-footer
				button(type="button", class="btn btn-default", data-dismiss="modal") Close
