div#modal6.modal.fade(role="dialog")
  div.modal-dialog
    div.modal-content
      div.modal-header
        button(type="button", class="close", data-dismiss="modal") &times;
      div.modal-body
        h2 Immigration Court/Detention
        hr
        p Removal Defense
        p Credible Fear Interview
        p Reasonable Fear Interview
        p Bond
        p Asylum
        h3 Asylum and Refugee

        p Individuals arriving in the U.S. may apply for asylum or refugee status for temporary residence in the U.S. based on humanitarian grounds.  Individuals must demonstrate a well-founded fear of persecution based on race, nationality, religion, political opinion or membership in or identification with a particular social group which would subject that individual to persecution.

        p Applications typically should be made within one year of arriving in the U.S.  While asylees granted temporary residence are not required to file for permanent residence within one year, refugees are required to file for permanent residence status after one year of being granted temporary status.

        p Work authorization is generally granted to the asylee or refugee along with temporary residence.  Spouses and children, if not already accompanying the asylee or refugee, may join at a later time.

        p Please contact our office if you have questions about U.S. asylum or refugee laws.

        p Withholding of Removal
        p Convention Against Torture
        p Cancellation of Removal for Lawful Permanent Residents
        p Cancellation of Removal for Non-Lawful Permanent Residents
        p NACARA



      div.modal-footer
        button(type="button", class="btn btn-default", data-dismiss="modal") Close
