include _partials/nav.jade

.container
  .row
    .col-lg-12
      h1 About Us

  .row.staff-person
    p.lead Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem ex, facere doloribus laboriosam, eos reiciendis ab et fugit. Inventore harum culpa distinctio quisquam, sunt labore accusantium consequatur dolor necessitatibus aliquam delectus, explicabo cupiditate ex rem.

    .col-md-6
      img(src="http://placehold.it/400x400", class="img-responsive img-circle img-center")
    .col-md-6
      .box-gray.text-center
        h2 Name of person
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis explicabo ratione beatae error, commodi incidunt eligendi!
        ul
          li 
            a(href="#") Link 1
          li 
            a(href="#") Link 2
          li 
            a(href="#") Link 3

  .row.staff-person
    .col-md-6
      img(src="http://placehold.it/400x400", class="img-responsive img-circle img-center")
    .col-md-6
      .box-gray.text-center
        h2 Name of person
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis explicabo ratione beatae error, commodi incidunt eligendi!
        ul
          li 
            a(href="#") Link 1
          li 
            a(href="#") Link 2
          li 
            a(href="#") Link 3

  .row.staff-person
    .col-md-6
      img(src="http://placehold.it/400x400", class="img-responsive img-circle img-center")
    .col-md-6
      .box-gray.text-center
        h2 Name of person
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis explicabo ratione beatae error, commodi incidunt eligendi!
        ul
          li 
            a(href="#") Link 1
          li 
            a(href="#") Link 2
          li 
            a(href="#") Link 3
