

div.container.white-bg.no-padding
	hr
	div.row
		.col-lg-12
			h2.text-center Solutions For:
		div.col-md-3
			a(type="button", data-toggle="modal", data-target="#modal1")
				div.service(style="background:url('http://s20.postimg.org/g7pxmgwe5/16248851160_87d8572f80_z.jpg');")
					.service-box
						h3 Employers
		div.col-md-3
			a(type="button", data-toggle="modal", data-target="#modal2")
				div.service(style="background:url('http://s20.postimg.org/5m62agq2l/6881485010_da66a9b933_z.jpg');")
					.service-box
						h3 Investors &amp; Startups
		div.col-md-3
			a(type="button", data-toggle="modal", data-target="#modal3")
				div.service(style="background:url('http://s20.postimg.org/irlkgkjy5/artists_558260_640.jpg');")
					.service-box
						h3 Artists
		div.col-md-3
			a(type="button", data-toggle="modal", data-target="#modal4")
				div.service(style="background:url('http://s20.postimg.org/vke9u8kxp/family_730320_640.jpg');")
					.service-box
						h3 Family
		div.col-md-3
			a(type="button", data-toggle="modal", data-target="#modal5")
				div.service(style="background:url('http://s20.postimg.org/c3tk7pptp/Waiver_Forms.jpg');")
					.service-box
						h3 Waivers
		div.col-md-3
			a(type="button", data-toggle="modal", data-target="#modal6")
				div.service(style="background:url('http://s20.postimg.org/76fzmlnul/courtroom.jpg');")
					.service-box
						h3 Immigration Court/Detention
		div.col-md-3
			a(type="button", data-toggle="modal", data-target="#modal7")
				div.service(style="background:url('http://s20.postimg.org/y83q4ldz1/Obama_signing_Kagan_s_commission.jpg');")
					.service-box
						h3 Executive Action
		div.col-md-3
			a(type="button", data-toggle="modal", data-target="#modal8")
				div.service(style="background:url('http://s20.postimg.org/tkxo2tqm5/5021872334_0d2b372091_o.jpg');")
					.service-box
						h3 Citizenship

	include _partials/modal1.jade
	include _partials/modal2.jade
	include _partials/modal3.jade
	include _partials/modal4.jade
	include _partials/modal5.jade
	include _partials/modal6.jade
	include _partials/modal7.jade
	include _partials/modal8.jade
