include _partials/nav.jade

div.container
  div.jumbotron
    h2 Serving individuals, investors and employers worldwide. 
    p FValdezLaw PC has the experience to provide quality  immigration law services to clients all over the world.  FValdezLaw PC is based in Houston, Texas.  Our use of web based applications also gives FValdezLaw the ability and agility to serve clients  online in their own homes and workplaces throughout the United States and beyond.  Whether you are looking for a traditional legal office or you want to break down barriers and go virtual, please contact us so that we can help.  
    a.btn.btn-primary(href="#", role="button") Learn More

  div.row
    div.col-lg-12.col-md-12
      include _partials/contact.jade


  hr
  div.row
    .col-lg-12
      h2.text-center Solutions For:
    div.col-md-3
      a(type="button", data-toggle="modal", data-target="#modal1")
        div.service
          h3 Employers
    div.col-md-3
      a(type="button", data-toggle="modal", data-target="#modal2")
        div.service
          h3 Investors &amp; Startups
    div.col-md-3
      a(type="button", data-toggle="modal", data-target="#modal3")
        div.service
          h3 Artists
    div.col-md-3
      a(type="button", data-toggle="modal", data-target="#modal4")
        div.service
          h3 Family
    div.col-md-3
      a(type="button", data-toggle="modal", data-target="#modal5")
        div.service
          h3 Waivers
    div.col-md-3
      a(type="button", data-toggle="modal", data-target="#modal6")
        div.service
          h3 Immigration Court/Detention
    div.col-md-3
      a(type="button", data-toggle="modal", data-target="#modal7")
        div.service
          h3 Executive Action
    div.col-md-3
      a(type="button", data-toggle="modal", data-target="#modal8")
        div.service
          h3 Citizeship

  include _partials/modal1.jade
  include _partials/modal2.jade
  include _partials/modal3.jade
  include _partials/modal4.jade
  include _partials/modal5.jade
  include _partials/modal6.jade
  include _partials/modal7.jade
  include _partials/modal8.jade
