.container
	.row
		.col-lg-12
			h1 News

	.row
		.col-lg-12.blog-post-item
			h2.text-center Post Item
		.col-lg-12.blog-post-item
			h2.text-center Post Item
		.col-lg-12.blog-post-item
			h2.text-center Post Item
		.col-lg-12.blog-post-item
			h2.text-center Post Item
		.col-lg-12.blog-post-item
			h2.text-center Post Item
