include _partials/nav.jade

.container
  .row
    .col-lg-12
      h1 A Modern Law Firm
  .row
    .col-lg-7.col-md-8.col-sm-6

      p In a changing world where communication and collaboration is now possible through modern channels like video conferencing and cloud file sharing, we stay ahead in our industry. We realize that in person communication is best, but it is not a limiting factor to working with us.
      p There are many ways for us to have a consultation.
    .col-lg-5.col-md-4.col-sm-6
      .big-text
        p We Stay Ahead...
  .row
    .col-sm-4
      .plug
        a(data-toggle="tab", href="#sec1", role="tab", aria-controls="#sec1")
          img(src="http://s20.postimg.org/9p2lq17gd/call.jpg", class="img-responsive img-circle img-center")
    .col-sm-4
      .plug
        a(data-toggle="tab", href="#sec2", role="tab", aria-controls="#sec2")
          img(src="http://s20.postimg.org/3peumdmnx/skype.jpg", class="img-responsive img-circle img-center")
    .col-sm-4
      .plug
        a(data-toggle="tab", href="#sec3", role="tab", aria-controls="#sec3")
          img(src="http://s20.postimg.org/4syyyc7b1/chat.jpg", class="img-responsive img-circle img-center")
  .row
    //- ul.nav.nav-tabs.nav-justified(role="tablist")
    //-   li.active(role="presentation") #[a(data-toggle="tab", href="#sec1", role="tab", aria-controls="#sec1") #[i.fa.fa-phone-square] Call Today]
    //-   li(role="presentation") #[a(data-toggle="tab", href="#sec2", role="tab", aria-controls="#sec2") #[i.fa.fa-skype] Skype Consultaion]
    //-   li(role="presentation") #[a(data-toggle="tab", href="#sec3", role="tab", aria-controls="#sec3") #[i.fa.fa-comment] Chat]

    div.tab-content
      div#sec1.tab-pane.fade.in.active(role="tab-panel")
        .row
          .col-sm-6
            h3 Let's talk
            p We would love to know how we can help.
          .col-sm-6
            button.btn.btn-primary.btn-lg.btn-block.contact-btn(type="button") Call Us
      div#sec2.tab-pane.fade(role="tab-panel")
        .row
          .col-sm-6
            h3 What's your Skype Name?
            p Ours is '_____'. Call us on Skype and we can have a consultation over video.
          .col-sm-6
            button.btn.btn-primary.btn-lg.btn-block.contact-btn(type="button") Skype Us
      div#sec3.tab-pane.fade(role="tab-panel")
        .row
          .col-sm-6
            h3 Legal Chatroom
            p We get it. You a call or video chat may seem like a big commitment. If we are online, we'll be glad to start a dialogue over chat.
          .col-sm-6
            button.btn.btn-primary.btn-lg.btn-block.contact-btn(type="button") Chat With Us


    //include _partials/contact.jade
