.container.white-bg
	.row
		.col-lg-12
			h1 A Modern Law Firm
	.row
		.col-lg-7.col-md-8.col-sm-6

			p In a changing world where communication and collaboration is now possible through modern channels like video conferencing and cloud file sharing, we stay ahead in our industry. We realize that in person communication is best, but it is not a limiting factor to working with us.
			p There are many ways for us to have a consultation.
		.col-lg-5.col-md-4.col-sm-6
			.big-text
				p We Stay Ahead...
	.row
		.col-sm-6
			.plug
				a(data-toggle="tab", href="#sec1", role="tab", aria-controls="#sec1")
					img(src="http://s20.postimg.org/9p2lq17gd/call.jpg", class="img-responsive img-circle img-center")
		.col-sm-6
			.plug
				a(data-toggle="tab", href="#sec2", role="tab", aria-controls="#sec2")
					img(src="http://s20.postimg.org/3peumdmnx/skype.jpg", class="img-responsive img-circle img-center")

	.pad-vertical
		.row.blue-bg
			div.tab-content
				div#sec1.tab-pane.fade.in.active(role="tab-panel")
					.row
						.col-sm-9
							h3 Let's talk
							p We would love to know how we can help.
							a.btn.btn-cta.btn-lg.contact-btn.btn-block(href="#", target="_blank") Call Us
						.col-sm-3
							img.img-responsive(src="http://placehold.it/250x250", alt="")
				div#sec2.tab-pane.fade(role="tab-panel")
					.row
						.col-sm-9
							h3 Let's start over email
							p Talking to us is very easy. Let's start a conversation over email.
							a.btn.btn-cta.btn-lg.contact-btn.btn-block(href="mailto:test@test.com", target="_blank") Email Us
						.col-sm-3
							img.img-responsive(src="http://placehold.it/250x250", alt="")


		//include _partials/contact.jade
