include _partials/nav.jade

.container
  .row
    .col-lg-12
      h1 A Modern Law Firm
  .row
    .col-lg-7.col-md-8.col-sm-6

      p In a changing world where communication and collaboration is now possible through modern channels like video conferencing and cloud file sharing, we stay ahead in our industry. We realize that in person communication is best, but it is not a limiting factor to working with us.
      p There are many ways for us to have a consultation.
    .col-lg-5.col-md-4.col-sm-6
      .big-text
        p We Stay Ahead...
  .row
    .col-sm-4
      .plug
        img(src="http://placehold.it/400x400", class="img-responsive img-circle img-center")
    .col-sm-4
      .plug
        img(src="http://placehold.it/400x400", class="img-responsive img-circle img-center")
    .col-sm-4
      .plug
        img(src="http://placehold.it/400x400", class="img-responsive img-circle img-center")
  .row
    include _partials/contact.jade
