ul.nav.nav-tabs.nav-justified(role="tablist")
	li.active(role="presentation") #[a(data-toggle="tab", href="#sec1", role="tab", aria-controls="#sec1") #[i.fa.fa-phone-square] Call Today]
	li(role="presentation") #[a(data-toggle="tab", href="#sec2", role="tab", aria-controls="#sec2") #[i.fa.fa-skype] Email Us]


div.tab-content
	div#sec1.tab-pane.fade.in.active(role="tab-panel")
		.row
			.col-sm-9
				h3 Let's talk
				p We would love to know how we can help.
				a.btn.btn-cta.btn-lg.contact-btn(href="#", target="_blank") Call Us
			.col-sm-3
				img(src="http://placehold.it/250x250", alt="")
	div#sec2.tab-pane.fade(role="tab-panel")
		.row
			.col-sm-9
				h3 Let's start over email
				p Talking to us is very easy. Let's start a conversation over email.
				a.btn.btn-cta.btn-lg.contact-btn(href="mailto:test@test.com", target="_blank") Email Us
			.col-sm-3
				img(src="http://placehold.it/250x250", alt="")
