footer#colophon.site-footer(role='contentinfo')
	.container
		.row
			.site-footer-inner.col-sm-12
				.site-info
					a(href='http://wordpress.org/', title='A Semantic Personal Publishing Platform', rel='generator') Proudly powered by WordPress.
					span.sep  
					a.credits(href='http://pocholabs.com/', target='_blank', title='Themes and Plugins developed by PochoLabs', alt='Themes and Plugins developed by Celso Mireles at PochoLabs') Themes and Plugins developed by PochoLabs. 


script(src="js/jquery-2.1.4.js")
script(src="js/bootstrap.min.js")
script(src="js/main.js")
script(src="js/nlform.js")
script(src="js/jquery.lettering.js")
script(src="js/jquery.textillate.js")
script(src="js/wow.min.js")
script(src="js/resources.js")
