.parallax-window(data-image-src="http://s20.postimg.org/tkxo2tqm5/5021872334_0d2b372091_o.jpg", data-parallax="scroll")
	footer#colophon.site-footer(role='contentinfo')
		.container
			.row
				.col-sm-4
					h5 Follow ur for Updates
					ul.social-media
						li
							a(href="#")
								i.fa.fa-facebook-square.fa-5x
						li
							a(href="#")
								i.fa.fa-linkedin-square.fa-5x
						li
							a(href="#")
								i.fa.fa-twitter-square.fa-5x
					hr
					h5 Other Links
						ul.other-links
							li
								a(href="http://www.avvo.com/attorneys/77007-tx-frances-valdez-85252.html?cm_mmc=Avvo-_-Avvo_Badge-_-Micro-_-85252")
									img(src="http://www.avvo.com/assets/microbadge.png", alt="Avvo - Rate your Lawyer. Get Free Legal Advice.")
							li
								a(href="https://secure.lawpay.com/pages/fvaldezlawpc/operating")
									img(src="https://ddgfnjmc1n7rx.cloudfront.net/wp-content/uploads/2014/09/LP-MakePayment2-V_D_MC_AMEX.gif", width="240", height="90", alt="Pay Your Invoice with LawPay")
				.col-sm-4
					h5 Avvo Badges
					ul.avvo-badges
						li
							a(href="http://www.avvo.com/attorneys/77007-tx-frances-valdez-85252.html?utm_campaign=avvo_rating&utm_content=1217583&utm_medium=avvo_badge&utm_source=avvo")
								img(src="http://placehold.it/135x110", alt="Lawyer Frances Valdez")
						li
							a(href="http://www.avvo.com/attorneys/77007-tx-frances-valdez-85252.html?utm_campaign=avvo_rating&utm_content=1217583&utm_medium=avvo_badge&utm_source=avvo")
								img(src="http://placehold.it/135x110", alt="Lawyer Frances Valdez")
				.col-sm-4
					h5 All Rights Reserved
					hr
					p
						a(href="#") Disclaimer
					p
						a(href="#") Attorney Advertising
					p
						a(href="#") Contact Us
			.row
				.site-footer-inner.col-sm-12
					.site-info.text-center
						a(href='http://wordpress.org/', title='A Semantic Personal Publishing Platform', rel='generator') Proudly powered by WordPress.
						span.sep  
						a.credits(href='http://pocholabs.com/', target='_blank', title='Themes and Plugins developed by PochoLabs', alt='Themes and Plugins developed by Celso Mireles at PochoLabs') Themes and Plugins developed by PochoLabs. 


script(src="js/jquery-2.1.4.js")
script(src="js/bootstrap.min.js")
script(src="js/cbpAnimatedHeader.js")
script(src="js/jquery.lettering.js")
script(src="js/jquery.textillate.js")
script(src="js/wow.min.js")
script(src="js/twitterFetcher_min.js")
script(src="js/owl.carousel.min.js")
script(src="js/jquery.anystretch.min.js")
script(src="js/parallax.min.js")
script(src="js/main.js")
