doctype
html(lang="en")
	head
		title Fvaldez Law
		meta(name="viewport", content="width=device-width, initial-scale=1")

		link(rel="stylesheet" href="css/bootstrap.css")
		link(rel="stylesheet" href="css/font-awesome.css")
		link(rel="stylesheet" href="css/animate.min.css")
		link(rel="stylesheet" href="css/owl.carousel.css")
		link(rel="stylesheet" href="css/owl.transitions.css")
		link(rel="stylesheet" href="css/owl.theme.css")
		link(rel="stylesheet" href="main.css")
	body
		.container.white-bg
			//.container
			.row
				.col-md-6
					header#masthead.site-header(role='banner')
						.row
							.site-header-inner.col-sm-12
								.site-branding
									img.img-responsive(src="http://pocholabs.com/wireframe-fvaldezlaw/img/logo-fvaldez-long.png", alt="")

				.col-md-6
					.header-feature
						p.lead
							| Call now for a consultaion over the phone: 555-555-5555
						a.btn.btn-success.btn-block(href='#') Call Now!

		.container.white-bg.no-side-padding
			nav.navbar.navbar-inverse(role="navigation")
				div.container
					div.navbar-header
						button.navbar-toggle(type="button", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1")
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar

					div.collapse.navbar-collapse(id="bs-example-navbar-collapse-1")
						ul.nav.navbar-nav.home-nav
							li
								a(href="/wireframe-fvaldezlaw/") Home
							li
								a(href="/wireframe-fvaldezlaw/about.html") About
							li
								a(href="/wireframe-fvaldezlaw/services.html") Services
							li
								a.dropdown-toggle(href="#", data-toggle="dropdown") News
								ul.dropdown-menu(role="menu")
									li
										a(href="#") Sub 1
									li
										a(href="#") Sub 2
							li
								a(href="/wireframe-fvaldezlaw/virtual.html") Virtual Office
