div#modal3.modal.fade(role="dialog")
  div.modal-dialog
    div.modal-content
      div.modal-header
        button(type="button", class="close", data-dismiss="modal") &times;
      div.modal-body
        h2 Artists
        ul.modal-toc
          li
          a(href="#o-1") O-1 Visa (Individuals with Extraordinary Ability or Achievement)
          li
          a(href="#o-2") O-2 Visa
          li
          a(href="#2-p-1") P-1 Visa  (Internationally Recognized Athletes and Entertainers)
          li
          a(href="#2-p-2") P-2 Visa (Artists Performing Under a Reciprocal Exchange Program)
          li
          a(href="#2-p-3") P-3 Visa  (Artists Part of a Culturally Unique Program)
          li
            strong Employment-Based Permanent Visas
          li
          a(href="#3-eb-1") EB-1 Priority Workers
          li
          a(href="#3-eb-2") EB-2 Professionals
          li
          a(href="#3-eb-3") EB-3 Skilled or Professional Workers
          li
          a(href="#3-eb-4") EB-4 Special Immigrants
          li
          a(href="#3-eb-5") EB-5 Immigrant Investors Visas
        hr

        h3#o-1 O-1 Visa (Individuals with Extraordinary Ability or Achievement) 

        p The O-1 visa allows foreign nationals who have extraordinary abilities or achievements in their respective fields of endeavor to enter the U.S. on a temporary basis to work in that field.  This includes extraordinary ability in the sciences, arts, education, business, athletics and extraordinary achievements in the motion picture or television industry.

        p Sponsoring employers must provide documentation to USCIS of concrete itineraries, events, and/or projects in which the O-1 worker will participate along with consultations from relevant trade or union organizations.

        p Also, to qualify for an O-1 visa, foreign nationals must demonstrate they are amongst the elite of their profession by providing documentation such as national or international awards, proof of having judged the work of others, publications, media articles discussing the individual and/or their achievements, box office receipts, and much more.

        p Spouses and unmarried children under age 21 are allowed to accompany or join the O-1 worker, in O-3 dependent status. However, they cannot work unless they independently qualify for a work visa. Spouses and children are permitted to attend school while in O-3 status.

        p The O-1 visa is one of the most complex visas of all the temporary, nonimmigrant work visa categories. Please <a href="#">contact FValdezLaw PC</a> if you have any questions or want assistance with an O-1 visa. 


        h3#o-2 O-2 Visa

        p Support personnel of O-1 visa holders in the fields of athletics, entertainment, motion picture and television production may request an O-2 visa to work in the U.S. temporarily. This status is not applicable to personnel in the sciences, business or education.

        p Spouses and unmarried children under age 21 are allowed to accompany or join the O-2 worker, in O-3 dependent status. However, they cannot work unless they independently qualify for a work visa. Spouses and children are permitted to attend school while in O-3 status.

        p Please <a href="#">contact FValdezLaw PC</a> if you have any questions or want assistance with an O-2 visa. 


        h3#p-1 P-1 Visa  (Internationally Recognized Athletes and Entertainers)

        p The P-1 visa permits entertainers and athletes to enter the U.S. on a temporary basis to perform and/or compete.  Athletes who have an outstanding record of achievement may apply for a P-1A visa either individually, or as part of an internationally recognized athletic team, in order to compete in the U.S.

        p Meanwhile, entertainment groups with an outstanding international reputation must apply as a group for P-1B visa since individual P-1B visas are not issued.  Entertainment groups must also demonstrate that at least 75% of its members have had a substantial and sustained participation in the group for at least one year.

        p Spouses and unmarried children under age 21 are allowed to accompany or join a P-1 worker in the U.S., in P-4 dependent status. Spouses and children are not permitted to work but they may attend school. Accompanying domestic workers (maids or nannies) may also be eligible for a B-1 visa with work authorization from USCIS.

        p Please <a href="#">contact FValdezLaw PC</a> if you have any questions or want assistance with an P-1 visa. 


        h3#p-2 P-2 Visa (Artists Performing Under a Reciprocal Exchange Program)

        p The P-2 visa allows international artists and athletes to enter the U.S. on a temporary basis as part of a reciprocal cultural exchange program.  This usually involves one U.S. organization abroad and one international organization in the U.S. as part of that exchange.

        p Spouses and unmarried children under age 21 are allowed to accompany or join a P-2 worker in the U.S., in P-4 dependent status. Spouses and children are not permitted to work but they may attend school. Accompanying domestic workers (maids or nannies) may also be eligible for a B-1 visa with work authorization from USCIS.

        p Please <a href="#">contact FValdezLaw PC</a> if you have any questions or want assistance with an P-2 visa. 


        h3#p-3 P-3 Visa  (Artists Part of a Culturally Unique Program)

        p The P-3 visa allows artists or entertainers, individually or as a group, to come to the U.S. to develop, interpret, represent, coach or teach culturally unique programs.  These programs usually involve traditional, ethnic, folk, cultural, musical, theatrical, artistic elements that are performed or presented to students or audiences.

        p Spouses and unmarried children under age 21 are allowed to accompany or join a P-3 worker in the U.S., in P-4 dependent status. Spouses and children are not permitted to work but they may attend school.

        p Please <a href="#">contact FValdezLaw PC</a> if you have any questions or want assistance with an P-3 visa. 


        h2 Employment-Based Permanent Visas

        p One of the most widely used methods to obtain legal permanent residence in the U.S. is through an employment-based immigrant visa petition, which allows for five classifications commonly referred to as preferences.

        ul
          li EB-1, First Preference, Priority Workers
          li EB-2, Second Preference, Professionals with Advanced Degrees or Persons with Exceptional Ability
          li EB-3, Third Preference, Skilled or Professional Workers
          li EB-4, Fourth Preference, Special Immigrants
          li EB-5, Fifth Preference, Immigrant Investors

        h3#eb-1 EB-1 Priority Workers

        p The EB-1 classification allows three different types of workers the U.S. government considers to be in high demand to petition for an immigrant visa.  Labor certifications (also known as PERM applications) from the U.S. Department of Labor are not required to be filed for petitions under the first preference categories.  Immigrant visa are issued to these workers in higher priority than any of the other preference categories.  Once an immigrant visa is issued, these workers may apply for permanent legal residence in the U.S.  The three different types of workers include:

        h4 Extraordinary Ability Individuals
        p These individuals must demonstrate that they have achieved a level of sustained national or international acclaim in the field of the arts, athletics, business, education or the sciences. Successful petitions must include extensive documentation of the individual’s achievements in their field of endeavor and satisfaction of three out of ten of the criteria, which includes documentation showing national or international awards, proof of having judged the work of others, publications, media articles discussing the individual and/or their achievements, box office receipts and much more.

        h4 Outstanding Professors or Researchers
        p These individuals must demonstrate that they have outstanding achievements in their academic field with a minimum of three years of experience in academia.  They must also demonstrate that they are pursuing their field of endeavor in the U.S. in a tenured-track teaching or research position.  Successful petitions must include extensive documentation of the individual’s achievements in their field of endeavor and satisfaction of two of the six criteria, which includes documentation showing national or international awards, proof of having judged the work of others, publications and much more. 

        h4 Managers and Executives of Multinational Businesses
        p These individuals must have been employed abroad for at least one year in the past three years by the company sponsoring their immigrant visa petition.  These individuals must continue to be employed in the U.S. in the same or similar managerial or executive capacity by the same company, its affiliate or subsidiary.

        p Because these workers receive the highest priority from USCIS, qualifying for this category requires submitting extensive documentation.

        p Please <a href="#">contact FValdezLaw PC</a> if you have any questions or want assistance with an EB-1 visa. 


        h3#eb-2 EB-2 Professionals

        p The EB-2 classification enables a majority of foreign workers in the U.S. to apply for immigrant visas.  Similar to the EB-1 classification, the EB-2 classification is also broken up into different types of workers.  However, labor certifications, also known as PERM applications, must first be submitted to and certified by the U.S. Department of Labor before USCIS will issue an immigrant visa, unless the labor certification requirement has been waived.

        h4 Professionals with Advanced Degrees
        p Individuals must possess an advanced degree or its equivalent (baccalaureate degree and five years of work experienced in the field) and the offer of employment must require an advanced degree.

        h4 Exceptional Ability in the Sciences, Arts or Business
        p Individuals must demonstrate that they have exceptional ability in the arts, business or science.  Successful petitions must include extensive documentation of the individual’s exceptional ability in their field of endeavor and satisfaction of at least three of the listed criteria, including ten years of experience in the field, professional certification or licensure, high remuneration, membership in professional associations, recognition for achievements, and more.

        h4 Professionals Seeking a National Interest Waiver
        p Aliens who possess an advanced degree and currently working in a field that has a substantial national interest to the U.S. may request a waiver of the labor certification (PERM application) and directly file a petition for an immigrant visa.

        p Qualifying for these categories requires submitting extensive documentation in addition to preparing a labor certification (PERM).  Please contact our office to see if you qualify under this category and how we may assist you.

        p Please <a href="#">contact FValdezLaw PC</a> if you have any questions or want assistance with an EB-2 visa. 


        h3#eb-3 EB-3 Skilled or Professional Workers

        p The EB-3 classification enables foreign workers in the U.S. to apply for immigrant visas.  Similar to the EB-2 classification, labor certifications, currently known as PERM applications, must first be submitted to and certified by the U.S. Department of Labor before USCIS will issue an immigrant visa.

        h4 Skilled Workers
        p Skilled workers must possess at least two years of job experience or training in their field of expertise and a U.S. job offer is required.

        h4 Professionals with a Bachelor’s Degree
        p Professionals performing in a professional occupation must possess a bachelor’s degree, or its foreign equivalent.  The occupation must typically require a bachelor’s degree and the foreign national must have a U.S. job offer.

        h4 Other Workers
        p Foreign nationals who possess less than two years of training and work experience must have a U.S. job offer.

        p Qualifying for these categories requires submitting extensive documentation in addition to preparing a labor certification (PERM) to the U.S. Department of Labor.

        p Please <a href="#">contact FValdezLaw PC</a> if you have any questions or want assistance with an EB-3 visa. 


        h3#eb-4 EB-4 Special Immigrants

        p The EB-4 classification enables special groups of foreign nationals to permanently work and live in the U.S.  These groups include religious workers and former overseas employees.

        h4 Religious Workers
        p Individuals must have been a paid member of a bona fide nonprofit, religious organization in the U.S. for the immediate two years before petitioning for an immigrant visa.  The individual must also intend to continue to carry out their religious vocation.

        h4 Other Special Immigrants
        p The list of special immigrants groups include media broadcasters, Iraqi/Afghan translators, Iraqis who have assisted the U.S., international organization employees, physicians licensed to practice in the U.S. since 1978 in H or J status, members of the Armed Forces, employees of the Panama Canal Zone, and retirees of the NATO-6 and their spouses and children.

        p The list of special immigrants and qualifications are unique to this fourth preference category.  Please contact our office to see if you qualify under any of these categories and how we may assist you.


        h3#eb-5 EB-5 Immigrant Investors Visas

        p The EB-5 investor visa allows individuals who are interested in investing a substantial amount in a U.S. based enterprise or business to seek permanent residence in the U.S.  Accompanying spouses and children are permitted to immigrate with the primary investor individual.

        p The EB-5 investment visa must be made for a new business or enterprise that is for profit.  The investor must be actively involved in the operations of the business.  Capital investments must be at least $1 million (or $500,000 in certain designated areas through approved regional centers) which can be in cash, equipment, inventory, etc.  The business must directly create at least 10 new jobs for U.S. workers (or indirectly create 10 new jobs if approved through a regional center) within two years of the investment.

        p Permanent residence based on EB-5 investments is granted by USCIS on a two-year conditional basis.  After the two-year period is over, the EB-5 investor must demonstrate that all conditions continue to be met in order for conditional residence to be removed.

        p EB-5 investment visas are highly complex.

        p Please <a href="#">contact FValdezLaw PC</a> if you have any questions or want assistance with an EB-5 visa. 

      div.modal-footer
        button(type="button", class="btn btn-default", data-dismiss="modal") Close
