div#modal6.modal.fade(role="dialog")
  div.modal-dialog
    div.modal-content
      div.modal-header
        button(type="button", class="close", data-dismiss="modal") &times;
      div.modal-body
        h2 Immigration Court/Detention
        ul.modal-toc
          li
            a(href="#md6-1") Removal Defense
          li
            a(href="#md6-2") Credible Fear Interview
          li
            a(href="#md6-3") Reasonable Fear Interview
          li
            a(href="#md6-4") Bond and Immigration Detention
          li
            a(href="#md6-5") Asylum and Refugee
          li
            a(href="#md6-6") Withholding of Removal
          li
            a(href="#md6-7") Convention Against Torture
          li
            a(href="#md6-8") Cancellation of Removal for Lawful Permanent Residents
          li
            a(href="#md6-9") Cancellation of Removal and Adjustment of Status for Non-Lawful Permanent Residents
          li
            a(href="#md6-10") Other Forms of Relief 
        hr
        h3#md6-1 Removal Defense

        p Finding yourself or a family member entangled in immigration court can be one of the most stressful experiences for many immigrants.  Immigrants may encounter the immigration court system upon their initial entry to the U.S. or after many years of living in the U.S.  

        p FValdezLaw PC can help you and your family navigate this system.  We represent individuals in immigration court throughout Texas and Louisiana.

        p Please contact FValdezLaw PC if you have any questions or want assistance with an immigration court case.  

        h3#md6-2 Credible Fear Interview

        p When an undocumented individual enters the U.S. and is detained within 14 days of entering and within 100 miles of the U.S. border,  they will most likely be placed in a process called expedited removal.  As a result, they will be ineligible for a bond and expeditiously removed from the U.S. unless they can prove that they have a credible fear of returning to their home country. 

        p If an individual is placed in expedited removal, it is very important that you work quickly to stop their removal from the U.S..  Individuals who demonstrate to an asylum officer that they have a credible fear will most likely be eligible to request a bond and will be able to request asylum in the U.S.  Asylum seekers must be prepared for their interview and be able to articulate their asylum claim in detail.  

        p Please contact FValdezLaw PC if you have any questions or want assistance with the credible fear process.  


        h3#md6-3 Reasonable Fear Interview

        p Immigrants who return to the U.S. after a previous deportation will most likely be ineligible to request a bond and will be removed from the U.S., unless they can demonstrate that they have a reasonable fear of returning to their home country.  If the applicant demonstrates a reasonable fear, then they will be referred to an immigration judge to determine if they are eligible for  withholding of removal or protection under the convention against torture (CAT).

        p If an immigrant with a prior removal order has been detained, it is extremely important to work quickly to stop their removal from the U.S.   Individuals with a reasonable fear claim must be prepared for their interview and be able to articulate their claim in detail.  

        p Please contact FValdezLaw PC if you have questions or want assistance with the reasonable fear process.  


        h3#md6-4 Bond and Immigration Detention

        p Immigrants, documented and undocumented, could find themselves in immigration detention after having contact with law enforcement or after being arrested by Customs and Border Patrol (CBP) or Immigrations and Custom Enforcement (ICE).  When an individual is detained by the Department of Homeland Security (DHS), the first question is if they are eligible for release on bond while their immigration court case is pending. 

        p Every case is different. Bond eligibility depends on an individual’s immigration and criminal history (if applicable).  Some individuals will be ineligible for a bond while others will be eligible to request a bond from an immigration judge.  If you or a family member are detained by DHS, it is extremely important to work quickly to stop removal from the U.S.  

        p Please contact FValdezLaw PC if you have any questions or want assistance requesting a bond in immigration court.  


        h3#md6-5 Asylum and Refugee

        p Individuals arriving in the U.S. may apply for asylum or refugee status for temporary residence in the U.S. based on humanitarian grounds.  Individuals must demonstrate a well-founded fear of persecution based on race, nationality, religion, political opinion or membership in or identification with a particular social group which would subject that individual to persecution.

        p Applications typically should be made within one year of arriving in the U.S.  While asylees granted temporary residence are not required to file for permanent residence within one year, refugees are required to file for permanent residence status after one year of being granted temporary status.

        p Work authorization is generally granted to the asylee or refugee along with temporary residence.  Spouses and children, if not already accompanying the asylee or refugee, may join at a later time.

        p Please contact FValdezLaw PC if you have questions about U.S. asylum or refugee laws.


        h3#md6-6 Withholding of Removal

        p Withholding of removal  is often an alternative to asylum for individuals who did not request asylum within one year of arriving in the U.S., who have a prior removal or other bars to asylum.  An applicant for withholding must meet a higher standard and demonstrate that it is more likely than not that they will be persecuted on account of their race, religion, national origin, membership in a particular social group or political opinion if they return to their home country. 

        p If an applicant demonstrates their eligibility for withholding, they will not be removed and they will be eligible for a work permit.  Withholding does not allow an individual to become a lawful permanent resident.  Withholding is available to individuals in the court system who are detained and not detained.  

        p Please contact FValdezLaw PC if you have any questions or want assistance applying for withholding of removal.  


        h3#md6-7 Convention Against Torture

        p The Convention Against Torture (CAT) provides relief from removal for individuals who can show that it is more likely than not that they would be tortured by the government or with government acquiescence if removed to their home country.  Many individuals who have bars to qualifying for asylum and withholding of removal find CAT as their last option for relief.  Unlike asylum and withholding, CAT applicants do not have to show that they will be harmed on account of their race, religion, national origin, membership in a particular social group or political opinion.  

        p Although CAT has less bars, the applicant carries a heavy burden and is granted sparingly.   

        p Please contact FValdezLaw PC if you have any questions or want assistance applying for CAT.

        h3#md6-8 Cancellation of Removal for Lawful Permanent Residents

        p Cancellation of Removal for Lawful Permanent Residents is a defense to removal for certain lawful permanent residents.  An applicant must demonstrate they have been a lawful permanent resident for at least 5 years; they have resided continuously in the U.S. for 7 years after having been admitted in any status; they have not been convicted of an aggravated felony; they have not been granted cancellation of removal, 212(c) relief, or suspension of deportation before; they are not a terrorist, persecutor, a crewman or an exchange visitor; and they warrant the favorable exercise of discretion.    

        p Please contact FValdezLaw PC if you have any questions or want assistance applying for Cancellation of Removal for Lawful Permanent Residents.  

        h3#md6-9 Cancellation of Removal and Adjustment of Status for Non-Lawful Permanent Residents

        p Cancellation of Removal and Adjustment of Status for Non-Lawful Permanent Resident (non-LPR cancellation) is a defense to removal for certain undocumented immigrants.  An applicant for non-LPR cancellation must demonstrate that they have been physically present in the U.S. for not less than 10 years; they have been a person of good moral character for 10 years; they have not been convicted of certain crimes and they can establish that their removal would result in exceptional and extremely unusual hardship to their United States Citizen or Lawful Permanent Resident spouse, parent or child.  

        p Please contact FValdezLaw PC if you have any questions or want assistance applying for non-LPR cancellation.   

        h3#md6-10 Other Forms of Relief 

        p FValdezLaw PC can also assist with forms of relief such as Voluntary Departure, VAWA Cancellation of Removal, NACARA, Adjustment of Status, Waivers of Removal, Prosecutorial Discretion and others.  FValdezLaw PC will evaluate your situation, explain your options and help you make the best choice for your specific situation.  

        p Please contact FValdezLaw PC if you have any questions or want assistance with removal proceedings.




      div.modal-footer
        button(type="button", class="btn btn-default", data-dismiss="modal") Close
