div#modal7.modal.fade(role="dialog")
  div.modal-dialog
    div.modal-content
      div.modal-header
        button(type="button", class="close", data-dismiss="modal") &times;
      div.modal-body
        h2 Executive Action
        ul.modal-toc
          li
            a(href="#md7-1") DACA
          li
            a(href="#md7-2") Expanded DACA
          li
            a(href="#md7-3") DAPA
        hr
        p The President of the United States has executive authority to make priorities on how to enforce the U.S. immigration law.  President Obama has announced two executive action programs during his presidency.  On June 15, 2012, President Obama announced Deferred Action for Childhood Arrivals (DACA).  On November 20, 2014, President Obama announced Deferred Action for Parents of Americans and Lawful Permanent Residents (DAPA) and DACA expansion.     

        h3#md7-1 DACA
        p DACA has since helped hundreds of thousands of individuals acquire a work permit and provided protection from removal for hundreds of thousands of individuals.  In order to qualify, an applicant must meet the following requirements:  Be under age 31 on June 15, 2012; have arrived in the U.S. before their 16th birthday; have continuously resided in the U.S. since June 15, 2007 up to the time of applying; have been physically present in the U.S. on June 15, 2012 and at the time of applying; had no lawful status on June 15, 2012; have graduated from high school or obtained a GED, or are currently in school or are an honorably discharged veteran of the Coast Guard or Armed Forces of the United Stated and have not been convicted of a felony, significant misdemeanor or three or more misdemeanors and do not otherwise pose a threat to national security or public safety.  

        p Generally applicants must be 15 years old to apply.  However, individuals in removal proceedings do not have to meet that requirement.  The application process is ongoing and individuals who need to renew should do so 150 days in advance of their expiration in order to avoid a lapse in their work permit.  DACA recipients can apply for permission to travel under certain circumstances.  Applicants for travel should not leave the country until their application for advance parole has been approved.

        p Please contact FVALDEZLAW PC if you have any questions or want assistance with DACA.

        h3#md7-2 Expanded DACA
        p The expanded DACA program is currently on hold due to a lawsuit.  The Obama administration is waiting to hear a response from the Supreme Court if they will review the case.  In the meantime, it is important for potential DACA expansion applicants to educate themselves, begin collecting documents and saving their money.  

        p The expansion of the DACA program would allow many more individuals the opportunity to apply for DACA.  It would extend deferred action and work permits from two years to three years.  It shifts the requirement of continuously residing in the U.S. since June 15, 2007 to January 1, 2010 and it eliminates the age cap, allowing individuals who were over 31 on June 15, 2012 to apply.  Expanded DACA applicants would still have to meet all other DACA guidelines.  

        p Please Contact FVALDEZLAW PC if you have any questions or want to learn about other forms of relief. 

        h3#md7-3 DAPA
        p The DAPA program is currently on hold due to a lawsuit.  The Obama administration is waiting to hear a response from the Supreme Court if they will review the case.  In the meantime, it is important for potential DAPA applicants to educate themselves, begin collecting their documents and saving their money.  

        p In order to qualify for DAPA, an applicant will have to demonstrate the following:  have lived in the U.S. continuously since January 1, 2010 and up to the time of applying; were physically present in the U.S. on November 20, 2014 at the time of applying; had no lawful status on November 20, 2014; on November 20, 2014 U.S. Citizen or Lawful Permanent Resident son or daughter; and have not been convicted of a felony, significant misdemeanor or three or more misdemeanors; does not otherwise pose a threat to national security and are not a priority for removal.  

        p Please contact FVALDEZLAW PC if you have any questions or want to learn about other forms of relief.  



      div.modal-footer
        button(type="button", class="btn btn-default", data-dismiss="modal") Close
