div#modal8.modal.fade(role="dialog")
  div.modal-dialog
    div.modal-content
      div.modal-header
        button(type="button", class="close", data-dismiss="modal") &times;
      div.modal-body
        h2 Citizenship
        ul.modal-toc
          li
            a(href="#m8-0") Birth in the U.S. or Certain Incorporated Territories
          li
            a(href="#m8-1") U.S. Citizenship Through One or Both Parents
          li
            a(href="#m8-2") Naturalization
        hr 
        p Individuals can be United States Citizens through birth in the U.S. or certain incorporated territories, citizenship of one or both parents, and through naturalization after becoming a lawful permanent resident.

        h3#m8-0 Birth in the U.S. or Certain Incorporated Territories

        p The Fourteenth Amendment states, “all persons born or naturalized in the United States...are citizens of the United States.”  This also includes individuals born in certain territories such as the Virgen Islands, Guam, American Samoa, Swains Islands, and the Commonwealth of the Northern Mariana Islands.

        h3#m8-1 U.S. Citizenship Through One or Both Parents

        p Some immigrants might be U.S. Citizens without even knowing it.  If one or both parents or grandparents were U.S. Citizens, it might be possible that their child is a U.S. Citizen even if they were born abroad.  Individuals may have acquired citizenship at birth or through the naturalization of their parent.  The result depends on the birthdate of the individual, whether or not the parents were married, and in some cases, how long the U.S. Citizen parent lived in the U.S. before their child’s birth.  

        p Please contact FValdezLaw PC if you have questions or want assistance examining a claim to U.S. Citizenship.   


        h3#m8-2 Naturalization 

        p Lawful permanent residents may become naturalized citizens if they meet the following requirements: they are 18 years old; have been a lawful permanent resident for 5 years; have good moral character for the last five years; have been residing in the U.S. as a lawful permanent resident for at least five years; have been physically and continuously present in the U.S. for at least half of the five years; are able to read, write, and speak basic English; are able to pass a test on U.S. history and government; and are willing to take an oath of allegiance to U.S. 

        p Individuals who have been married to and living with their U.S. citizen spouse for three years only have to demonstrate that they have lived in the U.S. for 3 years as a lawful permanent resident.  Asylees and refugees can naturalize after 4 years of receiving their lawful permanent residence.  

        p Please contact FValdezLaw PC if you have questions or want assistance with naturalization.    




      div.modal-footer
        button(type="button", class="btn btn-default", data-dismiss="modal") Close
