div#modal2.modal.fade(role="dialog")
  div.modal-dialog
    div.modal-content
      div.modal-header
        button(type="button", class="close", data-dismiss="modal") &times;
      div.modal-body
        h1 Investors and Startups
        ul.modal-toc
          li
          a(href="#e-1") E-1 Visa (Treaty Traders)
          li
          a(href="#e-2") E-2 Visa  (Treaty Investors)
          li
          a(href="#e-3") E-3 Visa (Certain Specialty Occupation Professionals from Australia)
          li
            strong Employment-Based Permanent Visas
          li
          a(href="#2-eb-1") EB-1 Priority Workers
          li
          a(href="#2-eb-2") EB-2 Professionals
          li
          a(href="#2-eb-3") EB-3 Skilled or Professional Workers
          li
          a(href="#2-eb-4") EB-4 Special Immigrants
          li
          a(href="#2-eb-5") EB-5 Immigrant Investors Visas
        hr

        h3#e-1 E-1 Visa (Treaty Traders)

        p U.S. immigration policy supports investors and foreign commerce in a variety of ways. The E-1 visa is one method for ensuring healthy commerce through international trade. The E-1 Visa is issued to individuals known as 'treaty traders,' defined as a national of a country with which the U.S. maintains a treaty of commerce and navigation.  E-1 treaty traders enter the U.S. to carry on substantial trade and principal trade between the U.S. and their home country.

        p Spouses and unmarried children under age 21 are allowed to accompany or join an E-1 worker in the U.S., in E dependent status. Spouses may seek work authorization from USCIS upon entry in E dependent status by applying for an employment authorization document.  Spouses and children may also attend school.

        p Employees of treaty companies may also qualify for an E-1 visa.  Please contact our office for more information about qualifying treaty countries and/or how to qualify for an E-1 visa.


        h3#e-2 E-2 Visa  (Treaty Investors)

        p The E-2 visa is another visa category furthering U.S. immigration policy to support commerce through investments in U.S. businesses.  The E-2 visa category allows foreign nationals of a treaty country to temporarily live and work in the U.S.  To qualify for an E-2 investment visa, foreign nationals must make a substantial investment in a U.S. business or enterprise.  Investor applicants must also show the investment funds have been legitimately derived and have been or will be subjected to real risk of loss as part of the investment.

        p Spouses and unmarried children under age 21 are allowed to accompany or join an E-2 worker in the U.S., in E dependent status. Spouses may seek work authorization from USCIS upon entry in E dependent status by applying for an employment authorization document.  Spouses and children may also attend school.

        p Employees of investment companies may also qualify for an E-2 visa.  Please contact our office for more information about qualifying treaty countries and/or how to qualify for an E-2 visa.


        h3#e-3 E-3 Visa (Certain Specialty Occupation Professionals from Australia)
        p The E-3 visa is similar to the H-1B in most respects but is reserved for foreign nationals of Australia. 

        p To qualify for E-3 classification, the Australian national must possess a bachelor’s degree from a U.S. university or an equivalent and be sponsored by a U.S. employer.  The job offer must also be a specialty occupation that requires both theoretical and practical knowledge and must require a bachelor’s degree as part of its minimum qualifications.

        p Spouses and unmarried children under age 21 are allowed to accompany or join an E-3 worker in the U.S., in E dependent status. Spouses may seek work authorization from USCIS upon entry in E dependent status by applying for an employment authorization document.  Spouses and children may also attend school.



        h2 Employment-Based Permanent Visas

        p One of the most widely used methods to obtain legal permanent residence in the U.S. is through an employment-based immigrant visa petition, which allows for five classifications commonly referred to as preferences.

        ul 
          li EB-1, First Preference, Priority Workers
          li EB-2, Second Preference, Professionals with Advanced Degrees or Persons with Exceptional Ability
          li EB-3, Third Preference, Skilled or Professional Workers
          li EB-4, Fourth Preference, Special Immigrants
          li EB-5, Fifth Preference, Immigrant Investors


        h3#2-eb-1 EB-1 Priority Workers

        p The EB-1 classification allows three different types of workers the U.S. government considers to be in high demand to petition for an immigrant visa.  Labor certifications (also known as PERM applications) from the U.S. Department of Labor are not required to be filed for petitions under the first preference categories.  Immigrant visa are issued to these workers in higher priority than any of the other preference categories.  Once an immigrant visa is issued, these workers may apply for permanent legal residence in the U.S.  The three different types of workers include:

        h4 Extraordinary Ability Individuals
        p These individuals must demonstrate that they have achieved a level of sustained national or international acclaim in the field of the arts, athletics, business, education or the sciences. Successful petitions must include extensive documentation of the individual’s achievements in their field of endeavor and satisfaction of three out of the ten of the criteria, which includes documentation showing national or international awards, proof of having judged the work of others, publications, media articles discussing the individual and/or their achievements, box office receipts and much more.

        h4 Outstanding Professors or Researchers
        p These individuals must demonstrate that they have outstanding achievements in their academic field with a minimum of three years of experience in academia.  They must also demonstrate that they are pursuing their field of endeavor in the U.S. in a tenure-tracked teaching or research position.  Successful petitions must include extensive documentation of the individual’s achievements in their field of endeavor and satisfaction of two of the six criteria, which includes documentation showing national or international awards, proof of having judged the work of others, publications and much more. 

        h4 Managers and Executives of Multinational Businesses
        p These individuals must have been employed abroad for at least one year in the past three years by the company sponsoring their immigrant visa petition.  These individuals must continue to be employed in the U.S. in the same or similar managerial or executive capacity by the same company, its affiliate or subsidiary.

        p Because these workers receive the highest priority from USCIS, qualifying for this category requires submitting extensive documentation.  Please contact our office to see if you qualify under this category and how we may assist you.


        h3#2-eb-2 EB-2 Professionals

        p The EB-2 classification enables a majority of foreign workers in the U.S. to apply for immigrant visas.  Similar to the EB-1 classification, the EB-2 classification is also broken up into different types of workers.  However, labor certifications, also known as PERM applications, must first be submitted to and certified by the U.S. Department of Labor before USCIS will issue an immigrant visa, unless the labor certification requirement has been waived.

        h4 Professionals with Advanced Degrees
        p Individuals must possess an advanced degree or its equivalent (baccalaureate degree and five years of work experienced in the field) and the offer of employment must require an advanced degree.

        h4 Exceptional Ability in the Sciences, Arts or Business
        p Individuals must demonstrate that they have exceptional ability in the arts, business or science.  Successful petitions must include extensive documentation of the individual’s exceptional ability in their field of endeavor and satisfaction of at least three of the listed criteria, including ten years of experience in the field, professional certification or licensure, high remuneration, membership in professional associations, recognition for achievements, and more.

        h4 Professionals Seeking a National Interest Waiver
        p Aliens who possess an advanced degree and currently working in a field that has a substantial national interest to the U.S. may request a waiver of the labor certification (PERM application) and directly file a petition for an immigrant visa.

        p Qualifying for these categories requires submitting extensive documentation in addition to preparing a labor certification (PERM).  Please contact our office to see if you qualify under this category and how we may assist you.


        h3#2-eb-3 EB-3 Skilled or Professional Workers

        p The EB-3 classification enables foreign workers in the U.S. to apply for immigrant visas.  Similar to the EB-2 classification, labor certifications, currently known as PERM applications, must first be submitted to and certified by the U.S. Department of Labor before USCIS will issue an immigrant visa.

        h4 Skilled Workers
        p Skilled workers must possess at least two years of job experience or training in their field of expertise and a U.S. job offer is required.

        h4 Professionals with a Bachelor’s Degree
        p Professionals performing in a professional occupation must possess a bachelor’s degree, or its foreign equivalent.  The occupation must typically require a bachelor’s degree and the foreign national must have a U.S. job offer.

        h4 Other Workers
        p Foreign nationals who possess less than two years of training and work experience must have a U.S. job offer.

        p Qualifying for these categories requires submitting extensive documentation in addition to preparing a labor certification (PERM) to the U.S. Department of Labor.  Please contact our office to see if you qualify under this category and how we may assist you.


        h3#2-eb-4 EB-4 Special Immigrants

        p The EB-4 classification enables special groups of foreign nationals to permanently work and live in the U.S.  These groups include religious workers and former overseas employees.

        h4 Religious Workers
        p Individuals must have been a paid member of a bona fide nonprofit, religious organization in the U.S. for the immediate two years before petitioning for an immigrant visa.  The individual must also intend to continue to carry out their religious vocation.

        h4 Other Special Immigrants
        p The list of special immigrants groups include media broadcasters, Iraqi/Afghan translators, Iraqis who have assisted the U.S., international organization employees, physicians licensed to practice in the U.S. since 1978 in H or J status, members of the Armed Forces, employees of the Panama Canal Zone, and retirees of the NATO-6 and their spouses and children.

        p The list of special immigrants and qualifications are unique to this fourth preference category.  Please contact our office to see if you qualify under any of these categories and how we may assist you.


        h3#2-eb-5 EB-5 Immigrant Investors Visas

        p The EB-5 investor visa allows individuals who are interested in investing a substantial amount in a U.S. based enterprise or business to seek permanent residence in the U.S.  Accompanying spouses and children are permitted to immigrate with the primary investor individual.

        p The EB-5 investment visa must be made for a new business or enterprise that is for profit.  The investor must be actively involved in the operations of the business.  Capital investments must be at least $1 million (or $500,000 in certain designated areas through approved regional centers) which can be in cash, equipment, inventory, etc.  The business must directly create at least 10 new jobs for U.S. workers (or indirectly create 10 new jobs if approved through a regional center) within two years of the investment.

        p Permanent residence based on EB-5 investments is granted by USCIS on a two-year conditional basis.  After the two-year period is over, the EB-5 investor must demonstrate that all conditions continue to be met in order for conditional residence to be removed.

        p EB-5 investment visas are highly complex. For assistance or for questions about this category, please contact our office.



      div.modal-footer
        button(type="button", class="btn btn-default", data-dismiss="modal") Close
