div#modal1.modal.fade(role="dialog")
  div.modal-dialog
    div.modal-content
      div.modal-header
        button(type="button", class="close", data-dismiss="modal") &times;
      div.modal-body
        h1 Employers
        hr
        h2 Temporary Work Visas:

        h3 H-1B Visa (Specialty Occupation) 
        p Foreign nationals interested in pursuing temporary work in a specialty occupation in the U.S. may apply for an H-1B visa.  The H-1B visa is quite popular as it is a logical first step toward permanent immigration in the U.S.

        p To qualify for H-1B classification, the foreign national must possess a bachelor’s degree from a U.S. university or an equivalent and be sponsored by a U.S. employer.  The job must qualify as a specialty occupation, such as an accountant, architect, engineer, etc.

        p Spouses and unmarried children under age 21 are allowed to accompany or join the H-1B worker, in H-4 dependents status. However, they cannot work unless they independently qualify for a work visa. Spouses and children are permitted to attend school while in H-4 status.

        p The laws regarding the H-1B visas change rapidly from year to year.  Our office provides up to date developments on changes in federal regulations affecting the H-1B visa category.  Please feel free to contact us for current updates.


        h3 H-1B1 Visa (Chileans and Singaporeans)
        p The H-1B1 visa is similar to the H-1B in most respects but is reserved for foreign nationals of Chile and Singapore.  This new category was created as a result of the Free Trade Agreements between the U.S. and Chile and between the U.S. and Singapore.

        p To qualify for H-1B1 classification, the Chilean or Singaporean national must possess a bachelor’s degree from a U.S. university or an equivalent and be sponsored by a U.S. employer.

        p Spouses and unmarried children under age 21 are allowed to accompany or join the H-1B worker, in H-4 dependent status. However, they cannot work unless they independently qualify for a work visa.  Spouses and children are permitted to attend school while in H-4 status.


        h3 H-2A Visa (Temporary Agricultural Workers)
        p The H-2A visa allows foreign nationals to enter the U.S. for up to a year to perform agricultural labor or services that are temporary or seasonal where there is a shortage of U.S. workers.  This visa is reserved for foreign nationals from certain countries.  Part of the requirements of the H-2A visa requires a U.S. employer submit a temporary labor certification to the Department of Labor demonstrating a shortage of U.S. workers.

        p p Spouses and unmarried children under age 21 are allowed to accompany or join the H-2A worker, in H-4 dependent status. However, they cannot work unless they independently qualify for a work visa.  Spouses and children are permitted to attend school while in H-4 status.


        h3 H-2B Visa (Temporary Non-Agricultural Workers)

        p The H-2B visa is reserved for individuals who will be performing temporary nonagricultural services or labor. The U.S. employer's need for the service or labor should be a one-time occurrence, a seasonal need, a peak-load need or an intermittent need.  Similar to the H-2A visa, the H-2B visa also requires a U.S. employer to submit a temporary labor certification to the Department of Labor demonstrating a shortage of U.S. workers.

        p Spouses and unmarried children under age 21 are allowed to accompany or join the H-2B worker, in H-4 dependent status. However, they cannot work unless they independently qualify for a work visa. Spouses and children are permitted to attend school while in H-4 status.
        h3 H-3 Visa (Nonimmigrant Trainee or Special Education Exchange Visitor)

        p The H-3 visa allows foreign nationals to receive training in the U.S. in almost any discipline that is not currently available in their native country.  However, this training excludes graduate and medical training, which is reserved under the J-1 visa category.

        p Foreign nationals may also enter in H-3 status to benefit from special education training that helps children with disabilities (physical, emotional or mental).

        p Training in the H-3 category should be structured and provide foreign nationals with the skills to succeed in that discipline once training is completed.

        p Spouses and unmarried children under age 21 are allowed to accompany or join the H-3 worker, in H-4 dependent status. However, they cannot work unless they independently qualify for a work visa. Spouses and children are permitted to attend school while in H-4 status.


        h3 L-1 Visa (Intracompany Transferee)

        p The L-1 visa, commonly referred to as the “intra-company transferee,” allows international companies with an office, subsidiary, or affiliated branch in the U.S. to sponsor its foreign employees to temporarily work in the U.S.

        p Sponsoring employers must have an established U.S. office, subsidiary, or affiliated branch, or have completed plans to establish one, in order to sponsor an L-1 worker.  Sponsoring employers should be prepared to provide documentation demonstrating its financial solvency.

        p Additionally, to qualify for an L-1 visa, the foreign national must also have worked for the company abroad for at least one full year within the last three years prior to applying, in either an executive or managerial position (L-1A visa) or a position with special knowledge (L-1B visa).

        p Spouses and unmarried children under age 21 are allowed to accompany or join an L-1 worker in the U.S., in L-2 dependent status. Spouses may seek work authorization from USCIS upon entry in L-2 status by applying for an employment authorization document.  Spouses and children may also attend school. Accompanying domestic workers (maids or nannies) may also be eligible for a B-1 visa with work authorization from USCIS.

        p L-1 visas have increasingly received higher scrutiny from USCIS in the past years.  Our office provides up to date developments on changes in federal regulations affecting the L-1 visa category.  Please feel free to contact us for current updates and strategies.


        h3 O-1 Visa (Individuals with Extraordinary Ability or Achievement) 

        p The O-1 visa allows foreign nationals who have extraordinary abilities or achievements in their respective fields of endeavor to enter the U.S. on a temporary basis to work in that field.  This includes extraordinary ability in the sciences, arts, education, business, athletics and extraordinary achievements in the motion picture or television industry.

        p Sponsoring employers must provide documentation to USCIS of concrete itineraries, events, and/or projects in which the O-1 worker will participate along with consultations from relevant trade or union organizations.

        p Also, to qualify for an O-1 visa, foreign nationals must demonstrate they are amongst the elite of their profession by providing documentation such as national or international awards, proof of having judged the work of others, publications, media articles discussing the individual and/or their achievements, box office receipts, and much more.

        p Spouses and unmarried children under age 21 are allowed to accompany or join the O-1 worker, in O-3 dependent status. However, they cannot work unless they independently qualify for a work visa. Spouses and children are permitted to attend school while in O-3 status.

        p The O-1 visa is one of the most complex visas of all the temporary, nonimmigrant work visa categories.  Please contact our office for more information on how to qualify for this visa category.


        h3 O-2 Visa

        p Support personnel of O-1 visa holders in the fields of athletics, entertainment, motion picture and television production may request an O-2 visa to work in the U.S. temporarily. This status is not applicable to personnel in the sciences, business or education.

        p Spouses and unmarried children under age 21 are allowed to accompany or join the O-2 worker, in O-3 dependent status. However, they cannot work unless they independently qualify for a work visa. Spouses and children are permitted to attend school while in O-3 status.


        h3 P-1 Visa  (Internationally Recognized Athletes and Entertainers)

        p The P-1 visa permits entertainers and athletes to enter the U.S. on a temporary basis to perform and/or compete.  Athletes who have an outstanding record of achievement may apply for a P-1A visa either individually, or as part of an internationally recognized athletic team, in order to compete in the U.S.

        p Meanwhile, entertainment groups with an outstanding international reputation must apply as a group for P-1B visa since individual P-1B visas are not issued.  Entertainment groups must also demonstrate that at least 75% of its members have had a substantial and sustained participation in the group for at least one year.

        p Spouses and unmarried children under age 21 are allowed to accompany or join a P-1 worker in the U.S., in P-4 dependent status. Spouses and children are not permitted to work but they may attend school. Accompanying domestic workers (maids or nannies) may also be eligible for a B-1 visa with work authorization from USCIS.


        h3 P-2 Visa (Artists Performing Under a Reciprocal Exchange Program)

        p The P-2 visa allows international artists and athletes to enter the U.S. on a temporary basis as part of a reciprocal cultural exchange program.  This usually involves one U.S. organization abroad and one international organization in the U.S. as part of that exchange.

        p Spouses and unmarried children under age 21 are allowed to accompany or join a P-2 worker in the U.S., in P-4 dependent status. Spouses and children are not permitted to work but they may attend school. Accompanying domestic workers (maids or nannies) may also be eligible for a B-1 visa with work authorization from USCIS.


        h3 P-3 Visa  (Artists Part of a Culturally Unique Program)

        p The P-3 visa allows artists or entertainers, individually or as a group, to come to the U.S. to develop, interpret, represent, coach or teach culturally unique programs.  These programs usually involve traditional, ethnic, folk, cultural, musical, theatrical, artistic elements that are performed or presented to students or audiences.

        p Spouses and unmarried children under age 21 are allowed to accompany or join a P-3 worker in the U.S., in P-4 dependent status. Spouses and children are not permitted to work but they may attend school.


        h3 R-1 Visa (Religious Workers)

        p R-1 visas allow clergy and religious workers to enter the U.S. to further their religion mission(s). A religious vocation is defined as a calling to religious life, shown by a demonstration of a lifelong commitment such as taking vows.  Liturgical workers, religious instructors or cantors, catechists, workers in religious hospitals, missionaries, religious translators, religious broadcasters, ministers, nuns, monks, and religious brothers and sisters are all examples of religious workers.

        p Spouses and unmarried children under age 21 are allowed to accompany or join an R-1 religious worker in the U.S., in R-2 dependent status. Spouses and children are not permitted to work but they may attend school.


        h3 TN Visa (NAFTA Professionals)

        p The TN visa allows Canadians or Mexicans engaging to enter the U.S. to engage in professional work on a temporary basis pursuant to the North American Free Trade Agreement (NAFTA).

        p The job offer must be made by a U.S. employer and be classified as a professional occupation as defined in the NAFTA Treaty.  The foreign national must also possess the necessary education and/or training for that particular job classification.

        p Spouses and unmarried children under age 21 are allowed to accompany or join a TN worker in the U.S., in TD dependent status. Spouses and children are not permitted to work but they may attend school.

        p There are multiple methods of applying for a TN visa.  Canadian and Mexican nationals with any questions about this visa category should contact our office for more information.

        p Transit and Media Visas


        h3 C-1 Visa

        p The C-1 visa, also known as the transit visa, enables foreign nationals with layovers in the U.S. to leave the airport and visit family or friends, tour and shop during long layovers. Transit visa travelers are required to leave the U.S. on their departing flight.

        p Group travelers or families should ensure that each individual in the group has their own C-1 visa.


        h3 C-2 Visa

        p Individuals on official business with the United Nations traveling to the United Nations headquarters in New York may enter the U.S. in C-2 status.  The visa is issued for a short duration and allows C-2 travelers the ability to leave the airport during layovers in order to visit family or friends, tour or shop in the U.S.

        p Group travelers or families should ensure that each individual in their group has their own C-2 visa.


        h3 C-3 Visa

        p Foreign government officials on official business traveling through the U.S. may enter in C-3 status.  The visa is issued for a short duration and allows C-3 travelers the ability to leave the airport during layovers in order to visit family or friends, tour or shop in the U.S.

        p Group travelers or families should ensure that each individual in their group has their own C-3 visa.


        h3 D-1 Visa

        p The D-1 visa allows foreign nationals who are serving aboard a vessel or aircraft, as part of its normal operations, to enter the U.S. during a stop in the U.S.  The vessel or aircraft’s home port must be in the U.S.  Crewman of these vessels or aircrafts may include pilots, flight attendants, stewards, technicians, musicians, chefs, etc.  Fishing activities are not permitted on a D-1 visa.

        p Each crewman may obtain an individual D-1 visa or be part of a group visa.


        h3 D-2 Visa

        p The D-2 visa allows foreign nationals who are serving aboard a vessel for fishing activities, as part of its normal operations, to enter the U.S. during a stop in the U.S.  The vessel or aircraft’s home port must be in the U.S. and have plans to land in and depart from Guam as a part of its normal operations.  Crewman of these vessels may include captains, stewards, technicians, musicians, chefs, etc.

        p Each crewman may obtain an individual D-2 visa or be part of a group visa.

        h3 I-Visa

        p The I visa enables foreign media representatives engaging in their profession on behalf of foreign media companies (or U.S. subsidiaries of foreign media companies) to work temporarily in the U.S.  This visa is employer-specific, which means the foreign media representative may only work for the foreign media company that has sponsored their visa.  Examples of foreign media representatives include reporters, freelance journalists and film crew members.  Mainstream entertainment filmmakers are not eligible for this visa category.

        p The I visa allows the foreign media representative to attend school but full course study programs are not permitted. Spouses and children may accompany or join in either B-2 visitor status or under the Visa Waiver Program but are not permitted to attend school.




        h2 Employment-Based Permanent Visas

        p One of the most widely used methods to obtain legal permanent residence in the U.S. is through an employment-based immigrant visa petition, which allows for five classifications commonly referred to as preferences.

        ul
          li EB-1, First Preference, Priority Workers
          li EB-2, Second Preference, Professionals with Advanced Degrees or Persons with Exceptional Ability
          li EB-3, Third Preference, Skilled or Professional Workers
          li EB-4, Fourth Preference, Special Immigrants
          li EB-5, Fifth Preference, Immigrant Investors

        h3 EB-1 Priority Workers

        p The EB-1 classification allows three different types of workers the U.S. government considers to be in high demand to petition for an immigrant visa.  Labor certifications (also known as PERM applications) from the U.S. Department of Labor are not required to be filed for petitions under the first preference categories.  Immigrant visa are issued to these workers in higher priority than any of the other preference categories.  Once an immigrant visa is issued, these workers may apply for permanent legal residence in the U.S.  The three different types of workers include:

        h4 Extraordinary Ability Individuals
        p These individuals must demonstrate that they have achieved a level of sustained national or international acclaim in the field of the arts, athletics, business, education or the sciences. Successful petitions must include extensive documentation of the individual’s achievements in their field of endeavor and satisfaction of three out of the ten of the criteria, which includes documentation showing national or international awards, proof of having judged the work of others, publications, media articles discussing the individual and/or their achievements, box office receipts and much more.

        h4 Outstanding Professors or Researchers
        p These individuals must demonstrate that they have outstanding achievements in their academic field with a minimum of three years of experience in academia.  They must also demonstrate that they are pursuing their field of endeavor in the U.S. in a tenure-tracked teaching or research position.  Successful petitions must include extensive documentation of the individual’s achievements in their field of endeavor and satisfaction of two of the six criteria, which includes documentation showing national or international awards, proof of having judged the work of others, publications and much more. 

        h4 Managers and Executives of Multinational Businesses
        p These individuals must have been employed abroad for at least one year in the past three years by the company sponsoring their immigrant visa petition.  These individuals must continue to be employed in the U.S. in the same or similar managerial or executive capacity by the same company, its affiliate or subsidiary.

        p Because these workers receive the highest priority from USCIS, qualifying for this category requires submitting extensive documentation.  Please contact our office to see if you qualify under this category and how we may assist you.


        h3 EB-2 Professionals

        p The EB-2 classification enables a majority of foreign workers in the U.S. to apply for immigrant visas.  Similar to the EB-1 classification, the EB-2 classification is also broken up into different types of workers.  However, labor certifications, also known as PERM applications, must first be submitted to and certified by the U.S. Department of Labor before USCIS will issue an immigrant visa, unless the labor certification requirement has been waived.

        h4 Professionals with Advanced Degrees
        p Individuals must possess an advanced degree or its equivalent (baccalaureate degree and five years of work experienced in the field) and the offer of employment must require an advanced degree.

        h4 Exceptional Ability in the Sciences, Arts or Business
        p Individuals must demonstrate that they have exceptional ability in the arts, business or science.  Successful petitions must include extensive documentation of the individual’s exceptional ability in their field of endeavor and satisfaction of at least three of the listed criteria, including ten years of experience in the field, professional certification or licensure, high remuneration, membership in professional associations, recognition for achievements, and more.

        h4 Professionals Seeking a National Interest Waiver
        p Aliens who possess an advanced degree and currently working in a field that has a substantial national interest to the U.S. may request a waiver of the labor certification (PERM application) and directly file a petition for an immigrant visa.

        p Qualifying for these categories requires submitting extensive documentation in addition to preparing a labor certification (PERM).  Please contact our office to see if you qualify under this category and how we may assist you.

        h3 EB-3 Skilled or Professional Workers

        p The EB-3 classification enables foreign workers in the U.S. to apply for immigrant visas.  Similar to the EB-2 classification, labor certifications, currently known as PERM applications, must first be submitted to and certified by the U.S. Department of Labor before USCIS will issue an immigrant visa.

        h4 Skilled Workers
        p Skilled workers must possess at least two years of job experience or training in their field of expertise and a U.S. job offer is required.

        h4 Professionals with a Bachelor’s Degree
        p Professionals performing in a professional occupation must possess a bachelor’s degree, or its foreign equivalent.  The occupation must typically require a bachelor’s degree and the foreign national must have a U.S. job offer.

        h4 Other Workers
        p Foreign nationals who possess less than two years of training and work experience must have a U.S. job offer.

        p Qualifying for these categories requires submitting extensive documentation in addition to preparing a labor certification (PERM) to the U.S. Department of Labor.  Please contact our office to see if you qualify under this category and how we may assist you.


        h3 EB-4 Special Immigrants

        p The EB-4 classification enables special groups of foreign nationals to permanently work and live in the U.S.  These groups include religious workers and former overseas employees.

        h4 Religious Workers
        p Individuals must have been a paid member of a bona fide nonprofit, religious organization in the U.S. for the immediate two years before petitioning for an immigrant visa.  The individual must also intend to continue to carry out their religious vocation.

        h4 Other Special Immigrants
        p The list of special immigrants groups include media broadcasters, Iraqi/Afghan translators, Iraqis who have assisted the U.S., international organization employees, physicians licensed to practice in the U.S. since 1978 in H or J status, members of the Armed Forces, employees of the Panama Canal Zone, and retirees of the NATO-6 and their spouses and children.

        p The list of special immigrants and qualifications are unique to this fourth preference category.  Please contact our office to see if you qualify under any of these categories and how we may assist you.


        h3 EB-5 Immigrant Investors Visas

        p The EB-5 investor visa allows individuals who are interested in investing a substantial amount in a U.S. based enterprise or business to seek permanent residence in the U.S.  Accompanying spouses and children are permitted to immigrate with the primary investor individual.

        p The EB-5 investment visa must be made for a new business or enterprise that is for profit.  The investor must be actively involved in the operations of the business.  Capital investments must be at least $1 million (or $500,000 in certain designated areas through approved regional centers) which can be in cash, equipment, inventory, etc.  The business must directly create at least 10 new jobs for U.S. workers (or indirectly create 10 new jobs if approved through a regional center) within two years of the investment.

        p Permanent residence based on EB-5 investments is granted by USCIS on a two-year conditional basis.  After the two-year period is over, the EB-5 investor must demonstrate that all conditions continue to be met in order for conditional residence to be removed.

        p EB-5 investment visas are highly complex. For assistance or for questions about this category, please contact our office.

      div.modal-footer
        button(type="button", class="btn btn-default", data-dismiss="modal") Close
