nav.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
  div.container
    div.navbar-header
      button.navbar-toggle(type="button", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href="#") FVALDEZ
    div.collapse.navbar-collapse(id="bs-example-navbar-collapse-1")
      ul.nav.navbar-nav.navbar-right.home-nav
        li
          a(href="/wireframe-fvaldezlaw/") Home
        li
          a(href="/wireframe-fvaldezlaw/about.html") About
        li
          a(href="/wireframe-fvaldezlaw/services.html") Services
        li
          a(href="/wireframe-fvaldezlaw/news.html") News
        li
          a(href="/wireframe-fvaldezlaw/virtual.html") Virtual Office
